section{
    display: block;
    margin: 2rem auto;
    width: 25%;
}
.btn-group {
    width: 100%;
}
label.btn.btn-secondary{
    font-size: 10px;
}
@media (max-width: 500px) {
    section{
        width: 80%
    }
}